<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maxx Bank dette er en test</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>Velkomment til Maxx Bank</h3>
<form id="loginForm" method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>
<a href="/notes.html">Noter</a>


<h2>AJAX TEST load en txt fil.</h2>

<button type="button">AJAX KNAP!</button>
<h2 id="AJAXknap"></h2>
</body>
</html>